*.beam
*.swp
.DS_Store
tmp
bin/configlet
bin/configlet.exe
bin/canonical_data_syncer
bin/canonical_data_syncer.exe

# Carton-installed files
local/
cpanfile.snapshot

# Ditto, for exercises
**/cpanfile.snapshot
**/local/
