sudo: false
language: perl
perl:
  - '5.22'
  - '5.20'
  - '5.18'
  - '5.16'
  - '5.14'
  - '5.12'
  - '5.10'
install:
  cpanm --quiet --notest JSON DateTime Test::Exception List::MoreUtils
before_script:
  - bin/fetch-configlet
script:
  - bin/configlet .
  - EXERCISM=1 prove -vr exercises/
