{{#package_comment}}{{&package_comment}}
{{/package_comment}}package {{&exercise}};{{#moo}}
use Moo;{{/moo}}{{^moo}}
use strict;
use warnings;{{/moo}}{{#subs}}
use Exporter 'import';
our @EXPORT_OK = qw({{&subs}});{{/subs}}{{#module_file}}

{{&module_file}}{{/module_file}}

1;
