#!/usr/bin/env perl
use Test2::V0;{{#cases}}
use JSON::PP;
use constant JSON => JSON::PP->new;{{/cases}}

use FindBin qw<$Bin>;
use lib $Bin, "$Bin/local/lib/perl5";{{#lib_comment}} {{&lib_comment}}{{/lib_comment}}

use {{&package}} {{#subs}}qw<{{&subs}}>{{/subs}}{{^subs}}(){{/subs}};{{#modules}}
use {{&use}};{{/modules}}{{#cases}}

my @test_cases = do { local $/; @{ JSON->decode(<DATA>) }; };{{/cases}}{{#plan}}
plan {{&plan}};{{#plan_comment}} {{&plan_comment}}{{/plan_comment}}{{/plan}}{{#tests}}

{{&tests}}{{/tests}}{{^plan}}

done_testing;{{/plan}}{{#cases}}

__DATA__
{{&cases}}{{/cases}}
