name: Exercises
on:
  - push
  - pull_request

jobs:
  job:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: ['ubuntu-latest', 'macos-latest']
        perl: ['5.40', '5.38', '5.36', '5.34', '5.32', '5.30', '5.28', '5.26']
        distribution: ['default']
        include:
          - os: 'windows-latest'
            perl: '5.40'
            distribution: strawberry

    name: Perl ${{ matrix.perl }} on ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

      - name: Set up perl
        uses: shogo82148/actions-setup-perl@fa3bdcb0144a50651e317f30949bb4491e74a6e4
        with:
          perl-version: ${{ matrix.perl }}
          distribution: ${{ matrix.distribution }}

      - run: cpm install -g Test2::V0 UUID Feature::Compat::Class Readonly

      - name: Test with prove
        run: prove exercises/practice/*/.meta/solutions/ --recurse --jobs 2

      - run: cpm install -g App::Yath
        if: runner.os != 'Windows'

      - name: Test with yath
        run: yath test exercises/practice/*/.meta/solutions/ --jobs 2
        if: runner.os != 'Windows'
