name: Generator
on:
  - push
  - pull_request

jobs:
  generator:
    env:
      TS_MAX_DELTA: 3
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3

      - run: bin/fetch-configlet
      - run: bin/configlet sync || true

      - name: Set up perl
        uses: shogo82148/actions-setup-perl@fa3bdcb0144a50651e317f30949bb4491e74a6e4

      - run: carton install
      - run: cpm install App::Yath

      - run: carton exec -- yath start

      - name: Test generator
        run: carton exec -- yath run t/generator

      - name: Generated files match generator output
        run: carton exec -- yath run t/files
