name: Generator
on:
  - push
  - pull_request

jobs:
  generator:
    env:
      TS_MAX_DELTA: 3
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Checkout problem-specifications
        uses: actions/checkout@v2
        with:
          repository: exercism/problem-specifications
          path: .problem-specifications

      - name: Set up perl
        uses: shogo82148/actions-setup-perl@v1.11.0

      - run: carton install
      - run: cpm install App::Yath

      - run: carton exec -- yath start

      - name: Test generator
        run: carton exec -- yath run t/generator

      - name: Generated files match generator output
        run: carton exec -- yath run t/files
