name: Generator
on:
  - push
  - pull_request

jobs:
  generator:
    env:
      TS_MAX_DELTA: 3
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@d632683dd7b4114ad314bca15554477dd762a938

      - run: bin/fetch-configlet
      - run: bin/configlet sync || true

      - name: Set up perl
        uses: shogo82148/actions-setup-perl@9c1eca9952ccc07f9ca4a2097b63df93d9d138e9

      - run: carton install
      - run: cpm install App::Yath

      - run: carton exec -- yath start

      - name: Test generator
        run: carton exec -- yath run t/generator

      - name: Generated files match generator output
        run: carton exec -- yath run t/files
