name: Test
on:
  - push
  - pull_request

jobs:
  unix:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: ['ubuntu-latest', 'macos-latest', 'windows-latest']
        perl: ['5.32', '5.30', '5.28', '5.26', '5.24', '5.22', '5.20']
    name: Perl ${{ matrix.perl }} on ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up perl
        uses: shogo82148/actions-setup-perl@v1
        with:
          perl-version: ${{ matrix.perl }}
          distribution: strawberry

      - run: cpm install -g Test2::V0
      - run: carton install
      - name: Exercise modules
        shell: pwsh
        run: >
          (Get-ChildItem ./exercises/*/.meta/solutions -Recurse -Include cpanfile).ForEach({
            cd (Split-Path -Path $_ -Parent);
            echo "$_";
            cpm install;
            cd -;
          })

      - name: Test with prove
        run: prove exercises/*/.meta/solutions/ --recurse --jobs 2

      - name: Test with yath
        run: yath test exercises/*/.meta/solutions/ --jobs 2
        if: runner.os != 'Windows'
